body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  font-family: Verdana, sans-serif;
  color: #000000;
  background-color: #ffffff;
}
.otdel {
  width: 1040px;
  margin: 0 auto;
  padding: 0;
}
.skryto {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.na4alo {
  color: #ffffff;
  background-color: #5F9EA0;
}
.na4alo .otdel {
  min-height: 400px;
  padding-top: 50px;
  padding-bottom: 180px;
  background-image: url("../img/glavnaya.png");
  background-repeat: no-repeat;
  background-position: 520px 130px;
}
.navi {
  display: flex;
  margin-bottom: 95px;
}
.logo {
  width: 60px;
  height: 60px;
  margin-right: 60px;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  width: 660px;
  margin: 0;
  margin-top: 25px;
  padding: 0;
  list-style: none;
}
.menu a {
  display: block;
  margin-right: 40px;
  font-size: 14px;
  text-decoration: none;
  color: #d4d4d4;
}
.menu a:hover {
  color: green;
}
. a:active {
  color: whitesmoke;
}
.svyaz {
  display: flex;
  flex-wrap: wrap;
  max-width: 180px;
  margin: 0;
  margin-top: 25px;
  margin-left: auto;
  margin-right: 80px;
  padding: 0;
  list-style: none;
}
.svyaz li {
  margin-left: 20px;
}
.svyaz a:hover {
  opacity: 0.1;
}
.svyaz a:active {
  opacity: 0.4;
}
.svyaz .icon {
  display: block;
  width: 17px;
  height: 17px;
}
.svyaz .icon-mail {
  background-image: url(../img/aska.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
}
.svyaz .icon-phone {
  background-image: url(../img/telephone.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
}
.opisanye {
  width: 300px;
  padding-left: 120px;
}
.opisanye h1 {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-size: 45px;
  line-height: 50px;
  font-family: "Courier New", monospace;
  color: white;
}
.opisanye p {
  margin: 0;
  margin-bottom: 50px;
  padding-left: 5px;
  font-size: 14px;
  line-height: 22px;
  color: #d4d4d4;
}
.knopka {
  position: relative;
  display: inline-block;
  width: 195px;
  padding: 0 25px;
  font-weight: bold;
  font-size: 14px;
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
  color: #222222;
  cursor: pointer;
  border: none;
  border-radius: 50px;
}
.knopka::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 17px;
  width: 19px;
  height: 16px;
  background-image: url(../img/ukaz.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.yellowsubmarine {
  background-color: gold;
}
.yellowsubmarine:hover {
  background-color: darkred;
}
.yellowsubmarine:active {
  background-color: gold;
}
.otdelno {
  padding: 85px 0;
  background-color: #131313;
  color: #ffffff;
}
.otdelno-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.otdelno-list li {
  position: relative;
  width: 180px;
  margin-right: 80px;
  padding-top: 100px;
  font-size: 14px;
  line-height: 20px;
  color: #d4d4d4;
}
.otdelno-list li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 68px;
}
.otdelno-made-in-russia::after {
  background-image: url(../img/racketa.png);
}
.otdelno-food::after {
  background-image: url(../img/butylka.png);
}
.otdelno-pilots::after {
  background-image: url(../img/kosmonaut.png);
}
.otdelno-moon-rover::after {
  background-image: url(../img/flag.png);
}
.columns-container {
  display: flex;
}
.columns-container .left-column {
  width: 440px;
  margin-right: 80px;
}
.columns-container .right-column {
  width: 440px;
}
.moon-vacation {
  padding-top: 80px;
  padding-bottom: 45px;
  background-color: #5F9EA0;
}
.moon-vacation .lead {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  font-family: "Courier New", monospace;
}
.recommendations {
  padding-top: 20px;
  padding-bottom: 55px;
  background-color: #5F9EA0;
}
.recommendations h3 {
  margin-top: 0;
  margin-bottom: 35px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  font-family: "Courier New", monospace;
}
.recommendations-list {
  margin: 0;
  padding: 0;
  padding-left: 30px;
  list-style: none;
}
.recommendations-list li {
  position: relative;
  margin-bottom: 20px;
}
.recommendations-list li::before {
  content: "";
  position: absolute;
  left: -25px;
  top: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #feca30;
}
.site-konzovka {
  padding-top: 50px;
  padding-bottom: 80px;
  color: #ffffff;
  background-color: #131313;
}
.konzovka-columns-container {
  display: flex;
}
.konzovka-columns-container .left-column {
  display: flex;
  flex-direction: column;
  width: 180px;
  margin-right: 100px;
}
.konzovka-columns-container .right-column {
  width: 720px;
  padding-top: 35px;
}
.logo-container {
  display: flex;
  align-items: center;
  padding: 0;
}
.logo-container .logo {
  margin-left: 0;
  margin-right: 20px;
}
.logo-container p {
  font-size: 14px;*/
}
.copyrights {
  margin-top: auto;
  color: #555555;
}
.konzovka-menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.konzovka-menu > li {
  width: 180px;
  margin-right: 60px;
}
.konzovka-submenu-title {
  display: block;
  margin-bottom: 50px;
  padding-bottom: 20px;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid #555555;
}
.konzovka-submenu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.konzovka-submenu-title:hover {
  display: block;
  margin-bottom: 50px;
  padding-bottom: 20px;
  font-size: 14px;
  color: red;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid #555555;
}
.konzovka-submenu: hover {
  margin: 0;
  padding: 0;
  list-style: none;
  color:aqua;
}
.konzovka-submenu > li {
  margin-bottom: 20px;
  color: aqua;
}
.konzovka-submenu a {
  text-decoration: none;
  color: #888888;*/
}
.konzovka-nav a:hover {
      color: aqua;
}
.konzovka-nav a:active {
      color: aqua;
}
